<div class="container">
  <a routerLink="/home" routerLinkActive="active"  
  href="/home" class>Home</a>
   |
  <a routerLink="/dashboard" routerLinkActive="active" ng-refelect-link="/dashboaed" router-Link-Active="active" 
  href="/dashboard" class>Dashboard</a>
  | 
  <a routerLink="/aboutus" routerLinkActive="active" ng-refelect-link="/aboutus" router-Link-Active="active" 
  href="/aboutus" class>About Us</a>
   |
  <a routerLink="/contact" routerLinkActive="active" ng-refelect-link="/contact" router-Link-Active="active" 
  href="/contact" class>Contact</a>
  |
  <a routerLink="/services" routerLinkActive="active" ng-refelect-link="/services" router-Link-Active="active" 
  href="/services" class>Services</a>
  |
  <a routerLink="/employee" routerLinkActive="active" ng-refelect-link="/employee" router-Link-Active="active" 
  href="/employee" class>Employee</a>
  

</div>
<router-outlet></router-outlet>